/* aside */
aside {
  width: 30%;

  .panel {
    margin-bottom: 20px;
    border: 1px solid $grey;

    h3 {
      height: 30px;
      background-color: #f8f8f8;
      margin: 0;
      border-bottom: 1px solid $grey;
      line-height: 30px;
      font-size: 23px;
      font-weight: 300;
      padding: 10px 15px;
    }

    ul {
      padding: 15px;

      li {
        line-height: 24px;

        .icon-ship:before {
          margin-right: 10px;
          color: #999;
        }

        .icon-ship:hover:before {
          color: $orange;
        }
      }
    }
  }
}
